<script lang="ts" setup>
import { ref } from "vue";
const feelings = ref(["angry", "cute", "excited", "pain", "shocked", "smile"]);
const currentFeeling = ref("smile");
</script>
<template>
  <v-contaier>
    <v-row>
      <v-col
        ><v-img style="height: 70vh" :src="'${currentFeeling}.png'"></v-img
      ></v-col>
      <v-col>
        <v-contaier>
          <v-row>
            <v-col cols="12">
              <div style="text-align: center" width="100%" class="text-h4">
                {{ currentFeeling }}
              </div>
            </v-col>
            <v-col
              v-for="(feeling, index) of feelings"
              cols="12"
              width="100%"
              :key="index"
            >
              <v-btn
                width="100%"
                @click="currentFeeling = feeling"
                :class="{ btnActive: currentFeeling === feeling }"
                >{{ feeling }}</v-btn
              >
            </v-col>
          </v-row>
        </v-contaier>
      </v-col>
    </v-row>
  </v-contaier>
</template>

<style scoped>
.btnActive {
  background-color: yellow;
}
</style>
