<script>
export default {
  data() {
    return {
      count: 0,
      Decrease: 0,
    };
  },
};
</script>

<template>
  <div class="d-flex justify-space-around"></div>
  <div class="pa-4 text-left rounded-0">
    <h4>First Component</h4>
    <h4>{{ count }}<br /></h4>
    <v-if Increment><v-btn @click="count++">Increment</v-btn></v-if>
  </div>

  <div class="pa-4 text-right rounded-xl rounded-be-0">
    <h4>Second Component</h4>
    <h4>{{ count * 2 }}<br /></h4>
    <v-if Decrease><v-btn @click="count--">Decrease</v-btn></v-if>
  </div>
</template>
